"*":
  "atom-beautify":
    general:
      _analyticsUserId: "27c11b8b-7e1c-4cf0-952c-bee7e65d531e"
    html: {}
  "atom-clock":
    dateFormat: "Y-MM-D HH:mm"
    locale: "ja"
    showClockIcon: true
  "base16-syntax":
    scheme: "Paraiso"
  core:
    disabledPackages: [
      "remote-ftp"
      "symbols-view"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    useCustomTitleBar: true
  csscomb:
    "block-indent": "  "
    "space-before-opening-brace": " "
  editor:
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "71117ef4-1216-51dd-5f6e-194657412441"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "regex-railroad-diagram": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
"source.css":
  editor:
    tabLength: 2
"source.html":
  editor:
    tabLength: 2
